@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./utils/maps.scss";

@import "./base/typography.scss";
@import "./base/animations.scss";
@import "./base/base.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/home.scss";
@import "./pages/menus.scss";

@import "./components/loader.scss";

.logo_container {
   display: flex;
   justify-content: center;
   width: 97%;
   padding: 1rem;
}

.logo_image {
   margin: 1rem 0 1rem 0;
   height: 2rem;
}

.place_container {
   background-color: $grey;
   border-top: 0.3rem solid $dark-grey;
}

.location {
   font-size: 1.8rem;
   margin: 0.8rem 0 1.1rem 0;
   .fas {
      position: relative;
   }
}

.search_text {
   margin: 2rem 0 2rem 0;
}

.btn {
   background: linear-gradient($color-secondary, $color-primary);
   color: white;
   border: none;
   height: 5rem;
   padding: 0 4rem;
   border-radius: 5rem;
   font-size: 2rem;
   margin-bottom: 1rem;
   box-shadow: 5px 5px 5px $dark-grey;
   &:hover {
      cursor: pointer;
      text-decoration: none;
      box-shadow: 5px 5px 5px $very-dark-grey;
      background: linear-gradient(lighten($color-secondary,10%), lighten($color-primary,10%));
   }
}

.search_restaurant {
   background-color: $light-grey; 
   padding: 4rem 0 4rem 0;
   text-align: center;
}

.city {
   display: flex;
   justify-content: center;
   align-items: center;
}

.manual_container {
   padding: 4rem 0 4rem 0;
}

.filter {
   display: inline-flex;
   width: 90%;
   height: 6rem;
   position: relative;
   background-color: #f6f6f6;
   margin: 1rem 2rem 1rem 3rem;
   border-radius: 1.5rem;
   padding: 0.5rem;
   box-shadow: 0 0.5rem 0.5rem #d5d5d5;
   &:hover {
      cursor: pointer;
      background-color: rgba($color-primary, .15);
      .fas {
         color: $color-primary;
      }
   }
}

.filter_number {
   position: absolute;
   display: flex;
   font-size: 1.5rem;
   align-items: center;
   border-radius: 50%;
   background-color: #9345DC;
   padding: 0.7rem 1.2rem;
   left: -27px;
   top: 30px;
   color: white;
}

.manual_container i {
   color: grey;
   margin: auto 1.5rem auto 1.5rem;
   display: block;
   font-size: 2.5rem;
   top: 33px;
   left: 23px;
}

.filter .fas {
   position: absolute;
   font-size: 2.5rem;
}

.filter_text {
   position: relative;
   padding: 2rem 2rem 2rem 6rem;
   font-size: 1.9rem;
}

.restaurants {
   background-color: $light-grey;
   padding: 4rem 0 4rem 0;
}

.cards_container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
}

.card {
   position: relative;
   background-color: white;
   border-radius: 1.5rem;
   transition-duration: 0.1s;
   margin: 2.5rem;
   cursor: pointer;
   height: 100%;
   width: 91%;
}

.card:hover {
   transform: scale (1.02);
}

.card_image {
   position: relative;
   height: 30rem;
   max-width: 1440px;
   width: 100%;
   object-fit: cover;
   border-radius: 1.5rem 1.5rem 0 0;
   &--page {
      border-radius: 0;
      width: 100%;
      max-width: 1440px;
      margin-bottom: -2rem;
      height: 500px;
      object-fit: cover;
   }
}

.card_tag {
   position: absolute;
   border-radius: 0.2rem;
   background-color: $color-tertiary;
   font-weight: bold;
   color: $color-new;
   right: 1rem;
   top: 1rem;
   padding: 0.7rem;
   font-size: 2rem;
}

.card_container {
   position: relative;
   padding-bottom: 2rem;
   p {
      font-size: 2rem;
      margin: 0.5rem 1rem 0 2rem;
      padding: 0;
   }
   h3 {
      margin: 1rem 1rem 0 2rem;
      padding: 0;
   }
   &--page{
      position: relative;
      background-color: white;
      border-radius: 1rem;
      margin: 2rem;
      padding: 0rem;
      box-shadow: 0 0.5rem 0.5rem #d5d5d5;
   p {
      margin: 0 0 0.5rem 0.5rem;
   }
   .price {
      position: absolute;
      font-weight: bold;
      right: 2rem;
      top: 2rem;
      p {
         font-size: 1.5rem;
      }
   }
   h3 {
      margin: 0.5rem 0 0.5rem 0.5rem;
   }
}
}

.main_container {
   animation: body-appearance 0 backwards;
   animation-delay: $anim-big-delay + $anim-delay;
}

.heart {
   position: absolute;
   font-size: 3rem;
   right: 2rem;
   bottom: 3rem;
}

.heart--page {
   position: absolute;
   font-size: 3rem;
   right: 3rem;
   top: 3rem;
}

.menu--page {
   position: relative;
   display: block;
   justify-content: space-between;
   width: 100%;
   padding-top: 2rem;
   background-color: $grey;
   border-radius: 1.5rem 1.5rem 0 0;
   margin-top: -5rem;
}

#arrow {
   position: absolute;
   left: 3rem;
   top: 2rem;
}

.button_box {
   display: flex;
   padding: 4rem;
   justify-content: center;
}

.heart, .heart--page {
.hover-icon {
   left: 0;
   opacity: 0;
   position: absolute;
}
i {
   left: 50%;
}
&:hover {
   cursor: pointer;
   overflow: hidden;
.default-icon {
   opacity: 0;
   transition: 0.6s 0.2s ease;
}
.hover-icon {
   background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   opacity: 1;
   transition: 0.6s 0.5s ease;
   z-index: 999;
}
}
}

.card-menu {
   border-radius: 15px;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   overflow: hidden;
  hgroup {
      flex:1;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 100px;
   }
   h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}

.caption-check-box {
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   display: none;
   position: relative;
   i{
      color: white;
      font-size: 24px;
      transform: rotate(360deg);
   }
   .price {
      align-items: center;
      display: flex;
      font-size: 1.125rem;
      font-weight: bold;
      justify-content: flex-end;
      padding-right: 10px;
      text-align: right;
   }
}

//Menu cards CSS

.card-menu {
   &:hover {
      box-shadow: $btn1-shadow-hover;      
hgroup {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
.price {
      animation: caption-check-box-price ease-in-out .3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      min-width: 100px;
   }
.caption-check-box {
      animation: caption-check-box ease-in-out .3s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      background-color: $color-tertiary;
      display: block;
      flex: 0 0 15%;
      max-width: 70px;
      overflow: hidden;
      transform-origin: 50% 50%;
   }
.fa-check-circle {
      animation: check-box ease-in-out .3s;
      animation-iteration-count: 1;
      background-color: $color-tertiary;
      left: 27%;
      position: absolute;
      top: 30%;
   }
}
}

@media screen and (min-width: 1024px) {
   .cards_container, .menu--page {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
   }
   .filter, .card {
      max-width: 40%;
   }
   .filter_text {
      font-size: 1.5rem;
   }
 }

 @media screen and (min-width: 1440px)  {
   .filter, .menu__parts {
      max-width: 26%;
   }
   .filter_text {
      font-size: 1.2rem;
   }
 }