$color-primary: #9345DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-new: #269D80;
$color-text: #606060;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$dark-grey: #d5d5d5;
$light-black:#353535;
$font-primary: Shrikhand, sans-serif;
$font-secondary: Roboto, sans-serif;
$btn1-shadow-hover: 0 5px 15px 0 darken($grey, 35);

@keyframes spin {
   from {
       transform:rotate(0deg);
   }
   to {
       transform:rotate(360deg);
   }
}

@keyframes spin {
   0% {
      opacity:1;
   }
   80%{
      opacity:0,5;
   }
   100%{
      opacity:0;
   }
}

@keyframes check-box {
   10% {
      transform: rotate(-90deg);
   }
   20% {
      transform: rotate(-75deg) scale(1.03);
   }
   40% {
      transform: rotate(-60deg) scale(1.08);
   }
   60% {
      transform: rotate(-45deg) scale(1.15);
   }
   80% {
      transform: rotate(-30deg) scale(1.08);
   }
   100% {
      transform: rotate(-5deg) scale(1);
   }
}

@keyframes caption-check-box {
   0% {
      opacity: 0.5;
      transform: translate(50px, 0);
   }
   20% {
      opacity: 0.6;
      transform: translate(30px, 0);
   }
   40% {
      opacity: 0.7;
      transform: translate(20px, 0);
   }
   60% {
      opacity: 0.8;
      transform: translate(15px, 0);
   }
   80% {
      opacity: 0.9;
      transform: translate(7px, 0);
   }
   100% {
      opacity: 1;
      transform: translate(1px, 0);
   }
}

@keyframes caption-check-box-price {
   0% {
      transform: translate(50px, 0);
   }
   40% {
      transform: translate(25px, 0);
   }
   70% {
      transform: translate(12px, 0);
   }
   100% {
      transform: translate(1px, 0);
   }
}


body {
   font-family: $font-secondary;
   color: #000000;
   width: 100%;
   max-width: 1440px;
   padding: 0;
   margin: 0;
}
 
h1, h2, h3, h4, h5 {
   font-family: $font-primary;
}
 
a {
   color: inherit;
   text-decoration: none;
   }

p {
   color: $color-text;
   font-size: 1rem;
 }

h1 {
   font-size: 3rem;
   font-weight: bold;
   margin: 1rem 0 2rem 2rem;
}

h2 {
   font-size: 2rem;
   font-weight: bold;
   padding: 0 2rem 0 2rem; 
   margin: 1rem 0 2rem 0;
}

h3, .filter_text {
   font-size: 2rem;
   font-weight: bold;
   margin-left: 1rem;
}

h4 {
   font-size: 1.1rem;
}

h5 {
   font-size: 1.4rem;
   font-weight: lighter;
   text-transform: uppercase;
   margin: 2rem 0 0 2rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
}

 hr {
   border: none;
   border-bottom: 0.5rem solid $color-tertiary;
   width: 100px;
   margin: 0 0 1rem 2rem;
}

.fas {
   position: absolute;
   display : inline-block;
   font-size: 3rem;
   margin-right: 1rem;
}
 
header, main, footer {
   display: block;
   max-width: 100%;
 }

.load_page {
   position: fixed;
   z-index: 99999;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   background: #fff;
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align:center;
   align-items: center;
   visibility: hidden;
   transition: visibility 3s;
   &--spinner {
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 200px;
      border: 5px solid #f2f2f2;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align:center;
      align-items: center;
      &::after {
         content: "";
         position: absolute;
         top: -5px;
         left: -5px;
         right: -5px;
         bottom: -5px;
         border: 5px solid transparent;
         border-radius: 200px;
         border-top-color: #000;
         border-bottom-color: #9356dc;
         animation-name: spin;
         animation-duration: 5000ms;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
      }
   }
}

.logo_container {
   display: flex;
   justify-content: center;
   width: 97%;
   padding: 1rem;
}

.logo_image {
   margin: 1rem 0 1rem 0;
   height: 2rem;
}

.place_container {
   background-color: $grey;
   border-top: 0.3rem solid $dark-grey;
}

.location {
   font-size: 1.8rem;
   margin: 0.8rem 0 1.1rem 0;
   .fas {
      position: relative;
   }
}

.search_text {
   margin: 2rem 0 2rem 0;
}

.btn {
   background: linear-gradient($color-secondary, $color-primary);
   color: white;
   border: none;
   height: 5rem;
   padding: 0 4rem;
   border-radius: 5rem;
   font-size: 2rem;
   margin-bottom: 1rem;
   &:hover {
      cursor: pointer;
      text-decoration: none;
   }
}

.search_restaurant {
   background-color: $light-grey; 
   padding: 4rem 0 4rem 0;
   text-align: center;
}

.city {
   display: flex;
   justify-content: center;
   align-items: center;
}

.manual_container {
   padding: 4rem 0 4rem 0;
}

.filter {
   display: inline-flex;
   width: 90%;
   height: 6rem;
   position: relative;
   background-color: #f6f6f6;
   margin: 1rem 2rem 1rem 3rem;
   border-radius: 1.5rem;
   padding: 0.5rem;
   box-shadow: 0 0.5rem 0.5rem #d5d5d5;
   &:hover {
      cursor: pointer;
      background-color: rgba($color-primary, .15);
   }
}

.filter_number {
   position: absolute;
   display: flex;
   font-size: 1.5rem;
   align-items: center;
   border-radius: 50%;
   background-color: #9345DC;
   padding: 0.7rem 1.2rem;
   left: -27px;
   top: 30px;
   color: white;
}

.manual_container i {
   color: grey;
   margin: auto 1.5rem auto 1.5rem;
   display: block;
   font-size: 2.5rem;
   top: 33px;
   left: 23px;
}

.filter .fas {
   position: absolute;
   font-size: 2.5rem;
}

.filter_text {
   position: relative;
   padding: 2rem 2rem 2rem 6rem;
   font-size: 1.9rem;
}

.restaurants {
   background-color: $light-grey;
   padding: 4rem 0 4rem 0;
}

.cards_container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
}

.card {
   position: relative;
   background-color: white;
   border-radius: 1.5rem;
   transition-duration: 0.1s;
   margin: 2.5rem;
   cursor: pointer;
   height: 100%;
   width: 91%;
}

.card:hover {
   transform: scale (1.02);
}

.card_image {
   position: relative;
   height: 30rem;
   max-width: 1440px;
   width: 100%;
   object-fit: cover;
   border-radius: 1.5rem 1.5rem 0 0;
   &--page {
      border-radius: 0;
      width: 100%;
      max-width: 1440px;
      margin-bottom: -2rem;
   }
}

.card_tag {
   position: absolute;
   border-radius: 0.2rem;
   background-color: $color-tertiary;
   font-weight: bold;
   color: $color-new;
   right: 1rem;
   top: 1rem;
   padding: 0.7rem;
   font-size: 2rem;
}

.card_container {
   position: relative;
   padding-bottom: 2rem;
   p {
      font-size: 2rem;
      margin: 0.5rem 1rem 0 2rem;
      padding: 0;
   }
   h3 {
      margin: 1rem 1rem 0 2rem;
      padding: 0;
   }
   &--page{
      position: relative;
      background-color: white;
      border-radius: 1rem;
      margin: 2rem;
      padding: 0rem;
      box-shadow: 0 0.5rem 0.5rem #d5d5d5;
   p {
      margin: 0 0 0.5rem 0.5rem;
   }
   .price {
      position: absolute;
      font-weight: bold;
      right: 2rem;
      top: 2rem;
      p {
         font-size: 1.5rem;
      }
   }
   h3 {
      margin: 0.5rem 0 0.5rem 0.5rem;
   }
}
}

.footer_container {
   background-color: $light-black;
   padding: 2rem;
   margin: 0;
   p, .fas {
      color:white;
   }
   p {
      margin: 1rem 0 1rem 0;
   }
   .logo_title {
      filter: invert(100%);
      margin: 1rem 1rem 1rem 3rem;
      font-size: 4rem;
   }
   ul li {
      list-style-type: none;
      padding: 0.1rem;
   }
   .fas {
      margin: 0 1rem 0 0;
      position: absolute;
   }
   .footer_text {
      padding-left: 5rem;
   }
   .footer_text, .footer_text2 {
      font-size: 1rem;
   }
}

.heart {
   position: absolute;
   font-size: 3rem;
   right: 2rem;
   bottom: 3rem;
}

.heart--page {
   position: absolute;
   font-size: 3rem;
   right: 3rem;
   top: 3rem;
}

.menu--page {
   position: relative;
   display: block;
   justify-content: space-between;
   width: 100%;
   padding-top: 2rem;
   background-color: $grey;
   border-radius: 1.5rem 1.5rem 0 0;
   margin-top: -5rem;
}

#arrow {
   position: absolute;
   left: 3rem;
   top: 2rem;
}

.button_box {
   display: flex;
   padding: 4rem;
   justify-content: center;
}

.heart, .heart--page {
.hover-icon {
   left: 0;
   opacity: 0;
   position: absolute;
}
i {
   left: 50%;
}
&:hover {
   cursor: pointer;
   overflow: hidden;
.default-icon {
   opacity: 0;
   transition: 1s 0.5s ease;
}
.hover-icon {
   background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
   opacity: 1;
   transition: 1s 1s ease;
   z-index: 999;
}
}
}

.card-menu {
   border-radius: 15px;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   overflow: hidden;

   hgroup {
      flex:1;
      overflow: hidden;
      padding: 10px;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   h3 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}

.caption-check-box {
   border-bottom-right-radius: 15px;
   border-top-right-radius: 15px;
   display: none;
   position: relative;
   i{
      color: white;
      font-size: 24px;
      transform: rotate(360deg);
   }
   .price {
      align-items: center;
      display: flex;
      font-size: 1.125rem;
      font-weight: bold;
      justify-content: flex-end;
      padding-right: 10px;
      text-align: right;
   }
}


//Menu cards CSS

.card-menu {
   &:hover {
      box-shadow: $btn1-shadow-hover;
   hgroup {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
   .price {
      animation: caption-check-box-price ease 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      min-width: 50px;
   }
   .caption-check-box {
      animation: caption-check-box ease 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      background-color: $color-tertiary;
      display: block;
      flex: 0 0 15%;
      max-width: 50px;
      overflow: hidden;
      transform-origin: 50% 50%;
   }
   .fa-check-circle {
      animation: check-box ease .5s;
      animation-iteration-count: 1;
      background-color: $color-tertiary;
      left: 27%;
      position: absolute;
      top: 30%;
   }
}
}
