$color-primary: #9345DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-new: #269D80;
$color-text: #606060;
$grey: #eaeaea;
$light-grey: #f6f6f6;
$dark-grey: #d5d5d5;
$light-black:#353535;

$font-primary: Shrikhand, sans-serif;
$font-secondary: Roboto, sans-serif;

$anim-duration: 1s;
$anim-short:0.3s;
$anim-delay:0.5s;
$anim-big-delay:2.5s;

$btn1-shadow-hover: 0 5px 15px 0 darken($grey, 35);